<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*Jobs APIからジョブデータを収集します
*収集したデータをExcelスプレッドシートに保存します。

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

実際のラボを実行するには、まず[jobs_api]（https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/ibm-da0321en-skillsnetwork/labs/module %201/accessingです リンク。ファイルには、Jobs APIデータを実行するために必要なFlaskコードが含まれています。

ここで、開くファイルでコードを実行するには、以下の手順に従ってください。

ステップ1：ファイルをダウンロードします。
ステップ2：IBMワトソンスタジオにアップロードします。 （IBM Watson Cloud Serviceがシステムで機能しない場合は、以下の代替ステップ2に従ってください）

ステップ2（代替）：下の画像で赤で強調表示されているアップロードボタンを使用して、SNラボ環境にアップロードします。
現在の.ipynbファイルと同じフォルダーにこのjobs_apiファイルをアップロードすることを忘れないでください
<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/ibm-da0321en-skillsnetwork/labs/module%201/accessing%20data%20using%20apis/upload.png">

ステップ3：jobs_apiファイルのすべてのセルを実行します。 （最後のセルを実行した後にAsterikサインを受け取ったとしても、コードは正常に動作します。）
オプションであるFlaskの詳細については、このリンクをクリックできます。 [here]（https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/ibm-da0321en-skillsnetwork/labs/module%201/accessing%20data%20using%20apis/flask_api.md.html）。

フラスココードを実行したら、割り当てから始めることができます。

##この割り当てで使用されるデータセット

このラボで使用されているデータセットは、次のソースからのものです。https：//www.kaggle.com/promptcloud/jobs-on-naukricom **under a **publicドメインライセンス**。

>注：ラボにはそのデータセットの変更されたサブセットを使用しているため、ラボの指示に従うには、元のソースからのデータセットではなく、ラボで提供されるデータセットを使用してください。
元のデータセットはCSVです。ラボの要件に従って、CSVをJSONに変換しました。

## Warm-Up Exercise

実際のラボを試す前に、APIへのアクセス方法を学ぶのに役立つ完全に解決されたウォームアップエクササイズを次に示します。


APIを使用して、現在誰が国際宇宙ステーションにいるのか（ISS）を見つけましょう。<br> API [http://api.open-notify.org/astros.json]（http://api.open-notify.org/astros.json?utm_medium=exinfluencer&utm_source=exinflu encer＆utm_content = 000026uj＆utm_term = 10006555＆utm_id = na-skillsnetwork-channel-skillsnetworkcoursibmda0321enskillsnetwork2 1426264-2021-01-01＆cm_mmc = email_newsletter -_-developer_ed％2btech -_ww-_-_-スキルネットワーク-Courses-IBM-DA0321EN-SKILLSNETWOR K-21426264＆CM_MMCA1 = 000026UJ＆CM_MMCA2 = 10006555＆CM_MMCA3 = M12345678＆CVOSRC =電子メール。現在JSON形式でISSに掲載されている宇宙飛行士の情報を提供してください。<br>
このAPIの詳細を読むことができます[http://open-notify.org/open-notify-api/people-in-space/uencer＆utm_source = exinfluencer＆utm_content = 000026uj＆utm_term = 10006555＆utm_id = na-skillsnetwork-channel-skillsnetworkcoursesibmda032 1ENSKILLSNETWORK21426264-2021-01-01＆cm_mmc = email_newsletter -_-developer_ed％2btech -_-ww_ww-_-skillsnetwork-da0321en-ski llsnetwork-21426264＆cm_mmca1 = 000026uj＆cm_mmca2 = 10006555＆cm_mmca3 = m12345678＆cvosrc = email.newsletter.m12345678＆cvo_campaign = 000026UJ）

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

現在ISSにある宇宙飛行士の数を印刷します。

In [6]:
print(data.get('number'))

12

Print the names of the astronauts currently on ISS.

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Hope the warmup was helpful. Good luck with your next lab!

## Lab：Jobs APIを使用してジョブデータを収集します

###目的：さまざまなテクノロジーおよびさまざまな場所で現在開いているジョブの数を決定する

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [8]:
#Import required libraries
import pandas as pd
import json

#### Pythonテクノロジーのジョブの数を取得するための関数を書いてください。<br>
>注：ラボを使用しているときに、**params **属性の**ペイロード**情報を渡す必要があります**key ****value **ペア。
コースで段階的な**REST API Lab **を参照**データサイエンスのPython、AI＆Development **<a href = "https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedlti/p6sw8/hands-on-lab-access-apis-request-http？utm_medium = exinfluencer&utm _source = exinfluencer＆utm_content = 000026uj＆utm_term = 10006555＆utm_id = na-skillsnet-channel-skillsnetworkcoursesibmda0321enskillsnetwork928-202222-01-01-01 ">"> link </a
  
 ##### JSONのキーはそうです 
 *役職
 
 *職務経験が必要です
*重要なスキル
 
 *ロールカテゴリ
 
 *位置
 
 *機能領域
 
 *業界
 
 *役割 
 
また、次のJSONファイルの内容を表示することもできます<a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/ibm-da0321en-skillsnetwork/labs/module%201/access URL。

In [9]:
api_url="http://127.0.0.1:5000/data"

def get_number_of_jobs_T(technology):
    payload={"Key Skills": technology}
    response=requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
#         print(data)
        number_of_jobs = len(data)
    #your code goes here
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [10]:
get_number_of_jobs_T("Python")

('Python', 1173)

####あなたが選んだ場所のために私たちの仕事の数を見つける関数を書く

In [11]:
def get_number_of_jobs_L(location):
    payload={"Location": location}
    response=requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
#         print(data)
        number_of_jobs = len(data)
    #your code goes here
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [12]:
#your code goes here
get_number_of_jobs_L('Los Angeles')

('Los Angeles', 640)

### 結果をExcelファイルに保存します

上記のすべての指定されたテクノロジーのAPIを呼び出し、結果をExcelスプレッドシートに書き込みます。

Pythonを使用してExcelファイルを作成する方法がわからない場合は、**ヒント**についてはここをクリックしてください。

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

ジョブの投稿の数を見つける必要があるすべての場所のPythonリストを作成します。

In [13]:
#your code goes here
countries = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

Import libraries required to create excel spreadsheet

In [14]:
# your code goes here
!pip install openpyxl
from openpyxl import Workbook

Requirement already satisfied: openpyxl in /opt/anaconda3/envs/condaenv/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/envs/condaenv/lib/python3.12/site-packages (from openpyxl) (2.0.0)

ワークブックを作成し、アクティブなワークシートを選択します

In [15]:
# your code goes here
wb=Workbook()
ws=wb.active
ws.append(countries)

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [16]:
#your code goes here
def get_number_of_jobs_TL(technology, countries):
    number_of_jobs_list = []
    for location in countries:
        payload={"Key Skills": technology, "Location": location}
        response=requests.get(api_url, params=payload)
        if response.ok:
            data=response.json()
            number_of_jobs = len(data)
            number_of_jobs_list.append(number_of_jobs)
    # return number_of_jobs_list
    return ws.append(number_of_jobs_list)

get_number_of_jobs_TL("Python", countries)

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [17]:
#your code goes here
wb.save('job-postings.xlsx')

#### 同様の方法で、特定のテクノロジーを以下に試すことができ、結果はExcelシートに保存できます。

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [46]:
# your code goes here


technologies = ['C'
,'C#'
,'C++'
,'Java'
,'JavaScript'
,'Python'
,'Scala'
,'Oracle'
,'SQL Server'
,'MySQL Server'
,'PostgreSQL'
,'MongoDB']


def get_number_of_jobs_TL(technologies, countries):
    final_list = []
    for technology in technologies:
        number_of_jobs_list = [technology]
        for location in countries:
            payload={"Key Skills": technology, "Location": location}
            response=requests.get(api_url, params=payload)
            if response.ok:
                data=response.json()
                number_of_jobs = len(data)
                number_of_jobs_list.append(number_of_jobs)
#     return ws.append(number_of_jobs_list)
        final_list.append(number_of_jobs_list)     
    return final_list

In [ ]:
technologies = ['C'
,'C#'
,'C++'
,'Java'
,'JavaScript'
,'Python'
,'Scala'
,'Oracle'
,'SQL Server'
,'MySQL Server'
,'PostgreSQL'
,'MongoDB']

In [47]:
data = get_number_of_jobs_TL(technologies, countries)
df_data = pd.DataFrame(data, columns=['Technology', 'Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit'])

print(df_data)

TypeError: Cannot convert numpy.ndarray to numpy.ndarray

## Author

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2022 IBM Corporation. All rights reserved.